.container{
    display: flex;
    position: relative;
    --back-color:#3483fa;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.container ul{
    top:2rem;
    position: absolute;
    list-style: none;
    text-align:left;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.291);
    background-color: white;
    width: 200px;

    z-index: 1;
}
.container p{
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
.container p span{
    font-weight: bold;
}
.span {
    font-size: 14px;
    color: var(--light-gray);
}

.container ul li{
    padding: 10px ;
    padding-left: 15px;
    cursor: pointer;
    display: flex;
    position: relative;
}

.container ul li:hover{
    background-color: rgba(128, 128, 128, 0.098) ;
}
.input{
    width: 80%;
    border: none;
    padding: 15px 10px;
    border-radius: 6px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.376);
    border: 2px solid transparent;
    outline: none;
    font-size: 1rem;
}
.input:focus{
    border-color: var(--back-color)
}
.alert:focus{
    border-color: rgb(201, 75, 75)
}


.input::-webkit-inner-spin-button{
    display: none;
}
.form button{
    margin-top: 5px;
  background-color: var(--back-color);
  padding: 5px 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.form button:hover{
    background-color: #2863bb;
}

.form button:active{
    background-color: #184382;
}

.borderLeft{
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    display: inline-flex;
    background-color: var(--back-color);
    left: 0;
}

.arrow{
    transition: all .3s;
    color: var(--back-color);
}
.rotate{
    color: var(--back-color);
    transform: rotate(180deg);
    transition: all .3s;
}


