.container{
    display: flex;
    width: 100%;
    padding: 0 1rem;
    position: relative;
}
.ul{
    width: 100%;
    display: flex;
    list-style: none;
}

.ul li{
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
    margin-bottom: 4px;
    color: rgba(51,51,51,.6);
}
.ul li svg{
    position: relative;
    top: 3px
}

.ul li a{
    text-decoration: none;
    color: rgba(51,51,51,.6);
    transition: .4s;
}

.ul li a:hover{
    color:#333
}

.ulCategories{
    width: 250px;
    border-radius: 3px;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: -8%;
    background-color: rgb(51,51,51);
    padding: 20px 0;
    visibility: hidden;
    transition: visibility .2s;
    z-index: 5;
}


.ulCategories li a{
    display: block;
    width: 100%;
    padding: 10px 0 10px 30px ;
    color:#fff;
    text-decoration: none;
  
    
}
.ulCategories li a:hover{
    background-color: #3483fa;;
}
.active{
    visibility: visible
}
