.container{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family:proximanova-regular;
    padding: 1rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.ul{
    list-style: none;
    display: flex;
    color: var(--color-navFonts);
    margin-bottom: 1rem;
}
.ul a{
    text-decoration: none;
}

.ul li:first-child{
    font-family: proximanova-semibold;
    margin-right: 6px;
}

.article{
    display: flex;
    justify-content: space-between;
}


.article a{
    text-decoration: none;
    color: #3483fa
}

.article span{
    margin: 0 8px;
}

.article div:first-child a:first-child{
    color: var(--color-navFonts);
}